body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(233, 223, 211) !important;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-body h5 {
    text-align: center;
}

.answerItem {
    text-align: center;
}

.btnContainer {
    display: flex;
    justify-content: space-between;
}

.btnContainer a {
    font-size: 14px;
}