body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(233, 223, 211) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.quizHeadImage {
    height: 163px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-body h5 {
    text-align: center;
}

.answerItem {
    text-align: center;
}

.answerItem:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.btnContainer {
    display: flex;
    justify-content: space-between;
}

.btnContainer button {
    font-size: 13px;
    height: 34px;
}

.bg-success,
.bg-danger {
    color: white !important;
}

.showResult {
    text-align: center;
}

.currentQuestionFromMax {
    text-align: center;
}

#quizCard {
    width: 18rem;
}

.onGoingQuizContainer {
    height: 800px !important;
}

.onGoingQuiz {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headline {
    height: 220px;
    display: flex;
    align-items: center;
}

.centerButton {
    display: flex;
    justify-content: center;
}

#showResultButton {
    display: none;
}

#previousButton,
#nextButton,
#showResultButton {
    min-width: 118px !important;
}

footer {
    position: fixed;
    bottom:0 ;
    background-color: rgb(35,31,32) !important;
    left: 0;
    right: 0;
}

footer * {
    color: white !important;
}

.nav {
    display: flex;
    align-items: center !important;
}

.nav-item:hover {
    transform: scale(1.04);
}

.impressum {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}